.navbar-text > a {
	
color:inherit;
text-decoration: none;

}

.row {
      
      display: inline-block;
      margin-left: auto;
      margin-right: auto;




}

.navbar-default{

	background-color: #ffc36b;
	border-color: #ffc36b;
}
	
	.navbar-default .navbar-nav > li > a {
		color: #FFFFFF;
	}

	img {
    max-width: 80%;
    height: auto;
}

.jumbotron{
	background-color: #e0e0e0;

}

body {
	padding-top: 50px;
}

body {
  
  margin-bottom: 80px;
}
