.background1
{
     /* Location of the image */
  background-image: url(images/background-photo1.jpg);
  
  /* Image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Image doesn't repeat */
  background-repeat: no-repeat;
  
  /* Makes the image fixed in the viewport so that it doesn't move when 
     the content height is greater than the image height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based on its container's size */
  background-size: cover;
  
  /* Pick a solid background color that will be displayed while the background image is loading */
  background-color:#464646;
  
  height: 100%;
  overflow: hidden;
  
}

	

.background2
{
   /* Location of the image */
  background-image: url(images/background-photo2.jpg);
  
  /* Image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Image doesn't repeat */
  background-repeat: no-repeat;
  
  /* Makes the image fixed in the viewport so that it doesn't move when 
     the content height is greater than the image height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based on its container's size */
  background-size: cover;
  
  /* Pick a solid background color that will be displayed while the background image is loading */
  background-color:#464646;
  
  height: 100%;
  overflow: hidden;
}




.background3{
   /* Location of the image */
  background-image: url(images/background-photo3.jpg);
  
  /* Image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Image doesn't repeat */
  background-repeat: no-repeat;
  
  /* Makes the image fixed in the viewport so that it doesn't move when 
     the content height is greater than the image height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based on its container's size */
  background-size: cover;
  
  /* Pick a solid background color that will be displayed while the background image is loading */
  background-color:#464646;
  
  height: 100%;
  overflow: hidden;
}
  
  .background4{
   /* Location of the image */
  background-image: url(images/background-photo4.jpg);
  
  /* Image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Image doesn't repeat */
  background-repeat: no-repeat;
  
  /* Makes the image fixed in the viewport so that it doesn't move when 
     the content height is greater than the image height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based on its container's size */
  background-size: cover;
  
  /* Pick a solid background color that will be displayed while the background image is loading */
  background-color:#464646;
  
  height: 100%;
  overflow: hidden;
  }
  
  
    .background5{
   /* Location of the image */
  background-image: url(images/background-photo5.jpg);
  
  /* Image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Image doesn't repeat */
  background-repeat: no-repeat;
  
  /* Makes the image fixed in the viewport so that it doesn't move when 
     the content height is greater than the image height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based on its container's size */
  background-size: cover;
  
  /* Pick a solid background color that will be displayed while the background image is loading */
  background-color:#464646;
  
  height: 100%;
  overflow: hidden;
  }
  

@media only screen and (max-width: 500px){
  .background1{
    background-image: url(images/background-photo-mobile.jpg);
  }
}

#loader-wrapper{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index: 1000;
  
}

#loader{
  display: block;
  position: relative;
  left:50%;
  top:50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
border: 3px solid transparent;
border-top-color: #3498db;
border-radius: 50%;
 -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
          z-index: 1001;
}


#loader:before{
  content:"";
  position: absolute;
  top:5px;
  left: 5px;
  right: 5px;
  bottom:5px;
  border: 3px transparent solid;
  border-top-color: red;
  border-radius: 50%;
   -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}


#loader:after{
  content:"";
  position: absolute;
  top:15px;
  left: 15px;
  right: 15px;
  bottom:15px;
  border: 3px transparent solid;
  border-top-color: yellow;
  border-radius: 50%;
   -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}



@-webkit-keyframes spin {
        0%   { -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
              -ms-transform: rotate(0deg);  /* IE 9 */
               transform: rotate(0deg);  }/* Firefox 16+, IE 10+, Opera  }*/
  
      100% { -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
              -ms-transform: rotate(360deg);  /* IE 9 */
               transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera  }*/ }
}



@keyframes spin {
 0%   { -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
              -ms-transform: rotate(0deg);  /* IE 9 */
               transform: rotate(0deg); } /* Firefox 16+, IE 10+, Opera  }*/
  
      100% { -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
              -ms-transform: rotate(360deg);  /* IE 9 */
               transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera  }*/ }
}

#loader-wrapper.loader-section {
  position: fixed;
  top:0;
  width:51%;
  height:100%;
  background: #222;
  z-index: 1000;
}

#loader-wrapper.loader-section.section-left{
  left:0;
  
}

#loader-wrapper.loader-section.section-right{
  right:0;
}

/*loaded stlyes*/

.loaded #loaded-wrapper.loader-section.section-left{
  -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
              -ms-transform: translateX(-100%);  /* IE 9 */
               transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera  }*/ 
               
               -webkit-transition: all 0.7s 0.3s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
                transition: all 0.7s 0.3s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
  
}

.loaded #loaded-wrapper.loader-section.section-right{
  -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
              -ms-transform: translateX(100%);  /* IE 9 */
               transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera  }*/ 
               
               -webkit-transition: all 0.7s 0.3s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
               transition: all 0.7s 0.3s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
  
}


.loader #loaded{
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
          transition: all 0.3s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}

.loaded #loader-wrapper{
  visibility: hidden;
  -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
              -ms-transform: translateY(-100%);  /* IE 9 */
               transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera  }*/ 
               
               -webkit-transition: all 0.3s 1s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
               transition: all 0.3s 1s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
  
}
  
  
}

