.background1
{
     /* Location of the image */
  background-image: url(images/background-photo.jpg);
  
 
}

.background2
{
   /* Location of the image */
  background-image: url(images/background-photo2.jpg);
  
 
}




.background3{
   /* Location of the image */
  background-image: url(images/background-photo3.jpg);
  

}
  
  .background4{
   /* Location of the image */
  background-image: url(images/background-photo4.jpg);

  }
  
  
    .background5{
   /* Location of the image */
  background-image: url(images/background-photo5.jpg);
  

  }
  
body {
  background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100%;
    background-position: center center;
    background-repeat: no-repeat;
}